<div *ngIf="cargado1" class="container mt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h1 class="display-4">EDITAR STOCK DE SEGURIDAD</h1>
            </div>
        </div>
    </div>
    
    <div class="container mt-4">
        <section class="mt-5">
            <div class="row mb-5">
                <div class="col-md-10 offset-md-1">
                    <h2>Oficina</h2>
                    <label for="oficina" class="mb-3">Seleccione la oficina de la que desea editar el stock de seguridad:</label>
                    <select id="oficina" class="form-control form-select" [(ngModel)]="idOficinaSeleccionada" (ngModelChange)="changeOfi()">
                        <option *ngFor="let oficina of listOficina" [value]="oficina.idOficina">{{oficina.direccion}}, {{oficina.localidad}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h2 class="mb-3">Información del Stock de Seguridad</h2>
                    <div *ngIf="cargado2" class="table-responsive">
                        <div class="mt-4" id="liveAlert"></div>
                        <div *ngIf="repetido" class="text-danger mt-2">
                            {{ mensajeRepetido }}
                        </div>
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="col-2">Categoría</th>
                                    <th scope="col" class="col-2">Subcategoría</th>
                                    <th scope="col" class="col-2">Cantidad</th>
                                    <th scope="col" class="col-3">Plazo de entrega medio</th>
                                    <th scope="col" class="col-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ss of stockSeguridad">
                                    <td class="col-2">
                                        <select class="form-control form-select" [(ngModel)]="ss.codCategoria" (change)="limpiarSeleccionSubcategoria(ss)" [ngClass]="{'is-invalid': !ss.codCategoria}">
                                            <option *ngFor="let categoria of listCategorias" [value]="categoria.codigoCategoria">{{categoria.codigoCategoria}}</option>
                                        </select>
                                        <div *ngIf="!ss.codCategoria" class="invalid-feedback">Campo obligatorio</div>
                                    </td>
                                    
                                    <td class="col-2" contentEditable="true">
                                        <select class="form-control form-select" [(ngModel)]="ss.codSubcategoria" [disabled]="!ss.codCategoria" [ngClass]="{'is-invalid': !ss.codSubcategoria}">
                                            <ng-container *ngFor="let subcategoria of listSubcategorias">
                                                <ng-container *ngIf="subcategoria.codigoCategoria === ss.codCategoria">
                                                    <option [ngValue]="subcategoria.codigoSubcategoria">{{ subcategoria.codigoSubcategoria }}</option>
                                                </ng-container>
                                            </ng-container>
                                        </select>
                                        <div *ngIf="!ss.codSubcategoria" class="invalid-feedback">Campo obligatorio</div>
                                    </td>

                                    <td class="col-2" contentEditable="true">
                                        <input type="number" min="1" class="form-control" [(ngModel)]="ss.cantidad" [ngClass]="{'text-danger is-invalid': !isNumeroEnteroValido(ss.cantidad) || ss.cantidad<1}">
                                        <div *ngIf="!isNumeroEnteroValido(ss.cantidad) || ss.cantidad < 1" class="invalid-feedback">Debe ser entero mayor o igual que 1</div>
                                    </td>

                                    <td class="col-3" contentEditable="true">
                                        <input type="number" min="1" class="form-control" [(ngModel)]="ss.plazoEntregaMedio" [ngClass]="{'text-danger is-invalid': !isNumeroEnteroValido(ss.plazoEntregaMedio) || ss.plazoEntregaMedio<1}">
                                        <div *ngIf="!isNumeroEnteroValido(ss.plazoEntregaMedio) || ss.plazoEntregaMedio < 1" class="invalid-feedback">Debe ser entero mayor o igual que 1</div>
                                    </td>

                                    <td class="col-1 text-center">
                                        <i class="fas fa-trash-alt text-danger" (click)="eliminarLineaSS(ss)" style="cursor: pointer;"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="card-footer mt-4 mb-5">
                            <button class="btn boton" (click)="agregarFila()">Agregar fila</button>
                            <button class="btn btn-success float-end" (click)="guardar()" [disabled]="!validaCampos()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>
