<div *ngIf="cargado" class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h1 class="display-4">NUEVO PEDIDO</h1>
            </div>
        </div>
    </div>
    <div class="mt-4" id="liveAlert"></div>

    <form [formGroup]="pedidoForm">
        <div class="card-body">
            <p class="text-danger">* Campos obligatorios</p>

            <!-- Apartado de Proveedor -->
            <fieldset style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;" class="w-100">
                <legend style="width: auto; border: none; font-size: 24px; font-weight: bold; color: #333;">
                    Proveedor <span class="text-danger">*</span></legend>
                <div class="form-group">
                    <p-autoComplete styleClass="myAutoComplete w-100"
                            (onSelect)="onSelectProveedor($event)" 
                            (onClear)="onClearProveedor()"
                            (onBlur)="checkIfValidInputProveedor($event)"
                            [suggestions]="filteredProveedor" 
                            (completeMethod)="filterProveedor($event)" 
                            field="fullDescriptionProveedor"
                            [dropdown]="true" 
                            inputStyleClass="selected-office"
                            class="selected-office"
                            id="filtroProveedor"
                            placeholder="{{ selectedProveedor ? getFullDescriptionProveedor(selectedProveedor): 'Seleccione un proveedor...' }}">
                        <ng-template let-proveedor pTemplate="item">
                            {{proveedor.razonSocial}}
                        </ng-template>
                    </p-autoComplete>
                </div>
            </fieldset>

            <!-- Apartado de Líneas -->
            <fieldset style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
                <legend style="width: auto; border: none; font-size: 24px; font-weight: bold; color: #333;"
                    class="d-flex align-items-center">
                    Líneas
                    <a (click)="agregarLineaForm()" class="text-muted ms-4 interactive-link">
                        <i class="fas fa-plus nuevaLinea"></i>
                    </a>
                </legend>
                <p>
                    <span class="text-danger" *ngIf="lineas.length < 1">
                        Como mínimo debe haber una línea
                    </span>
                </p>
                <div *ngFor="let linea of lineas; let i = index">
                    <hr class="my-4">
                    <div [formGroup]="linea" class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-4 col-lg-2 col-xl-5">
                            <div class="form-group d-flex flex-column align-items-center">
                                <label for="codigoArticulo">Artículo <span class="text-danger">*</span></label>
                                <select formControlName="codigoArticulo" id="codigoArticulo" class="form-control form-select">
                                    <option [value]="null" disabled>Seleccione el articulo</option>
                                    <option *ngFor="let art of listArticulos" [value]="art.codigoArticulo">{{
                                        art.descripcion }}: {{ art.modelo }}, {{ art.fabricante }},
                                        {{art.precioUnitario}} €/ud</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                            <div class="form-group d-flex flex-column align-items-center">
                                <label for="numeroUnidades">Unidades <span class="text-danger">*</span>
                                    <span class="text-danger" *ngIf="this.linea.get('numeroUnidades')?.errors?.['min']">
                                        (Como mínimo debe ser 1)
                                    </span>
                                    <span class="text-danger" *ngIf="this.linea.get('numeroUnidades')?.errors?.['pattern']">
                                        (Debe ser entero)
                                    </span>
                                </label>
                                <input id="numeroUnidades" min="1" name="numeroUnidades" type="number"
                                    formControlName="numeroUnidades" class="form-control form-control-sm" />
                            </div>

                        </div>

                        <div class="col-md-2 col-lg-2 col-xl-2">
                            <div class="form-group d-flex flex-column align-items-center">
                                <label for="descuento">Descuento (%) <span class="text-danger">*</span>
                                    <span class="text-danger" *ngIf="this.linea.get('descuento')?.errors?.['min']">
                                        (No puede ser negativo)
                                    </span>
                                </label>
                                <input type="number" class="form-control" id="descuento" min="0" step="0.01"
                                    formControlName="descuento" />
                            </div>
                        </div>

                        <div class="col-md-1 col-lg-1 col-xl-1 align-items-center d-flex">
                            <a (click)="eliminarLineaForm(i)" class="text-muted interactive-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="idEmpleado">Realizado por <span class="text-danger">*</span></label>
                        <select class="form-control form-select" id="idEmpleado" formControlName="idEmpleado">
                            <option [value]="null" disabled>Seleccione un empleado</option>
                            <option *ngFor="let empl of listEmpleado" [value]="empl.idEmpleado">{{ empl.nombre
                                }} {{ empl.apellidos }}, {{ empl.dni }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="idOficina">Oficina <span class="text-danger">*</span></label>
                        <select class="form-control form-select" id="idOficina" formControlName="idOficina">
                            <option [value]="null" disabled>Seleccione una oficina</option>
                            <option *ngFor="let ofi of listOficina" [value]="ofi.idOficina">{{ ofi.direccion }},
                                {{ ofi.localidad }}{{ ofi.provincia !== null ? ', '+ofi.provincia : '' }}, {{
                                ofi.pais }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="medioPago">Medio de pago <span class="text-danger">*</span></label>
                        <select class="form-control form-select" id="medioPago" formControlName="medioPago">
                            <option [value]="null" disabled>Seleccione el medio de pago</option>
                            <option *ngFor="let medio of listMedioP" [value]="medio.codigoMedio">{{
                                medio.descripcion }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="condicionPago">Condición <span class="text-danger">*</span></label>
                        <select class="form-control form-select" id="condicionPago" formControlName="condicionPago">
                            <option [value]="null" disabled>Seleccione la condición de pago</option>
                            <option *ngFor="let condicion of listCondicionP" [value]="condicion.codigoCondicion">{{
                                condicion.descripcion }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ivaPedido">IVA (%) <span class="text-danger">* </span>
                            <span class="text-danger" *ngIf="this.pedidoForm.get('ivaPedido')?.errors?.['min']">
                                (No puede ser negativo)
                            </span>
                        </label>
                        <input type="number" class="form-control" id="ivaPedido" formControlName="ivaPedido" step="0.01" min="0"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="plazoEntrega">Plazo de entrega (días) <span class="text-danger">*</span>
                            <span class="text-danger" *ngIf="this.pedidoForm.get('plazoEntrega')?.errors?.['min']">
                                (Como mínimo es 1)
                            </span>
                            <span class="text-danger" *ngIf="this.pedidoForm.get('plazoEntrega')?.errors?.['pattern']">
                                (Debe ser entero)
                            </span>
                        </label>
                        <input type="number" class="form-control" id="plazoEntrega" formControlName="plazoEntrega" min="1">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="costesEnvio">Costes de envío (€) <span class="text-danger">*</span>
                            <span class="text-danger" *ngIf="this.pedidoForm.get('costesEnvio')?.errors?.['min']">
                                (No puede ser negativo)
                            </span>
                        </label>
                        <input type="number" class="form-control" id="costesEnvio" formControlName="costesEnvio" step="0.01" min="0" />
                    </div>
                </div>
            </div>

        </div>

        
        <div class="card-footer mt-4 mb-5">
            <button type="button" (click)="volver()" class="btn btn-danger">Cancelar</button>
            <!-- Botón de guardar: esta con el evento click porque no quiero que se envíe cuando haga enter -->
            <!-- Sino con el submit en la etiqueta del form vale -->
            <button class="btn btn-success float-end" (click)="guardar()" [disabled]="!verificarValidezLineas() || !pedidoForm.valid || lineas.length < 1">Guardar</button>
        </div>
    </form>

</div>