@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

    .fa-trash-alt {
        color: rgb(226, 5, 5); 
        font-size: 24px;
    }

    .fa-trash-alt:hover {
        color: red; 
    }
    
    .nuevaLinea {
        color: rgb(17, 133, 17); 
        font-size: 24px;
    }

    .nuevaLinea:hover {
        color: rgb(14, 226, 14); 
    }

    .interactive-link {
        transition: transform 0.3s; /* Agrega una transición para suavizar el efecto de ampliar */
    }

    .interactive-link:hover {
        transform: scale(1.5);
        cursor: pointer; 
    }

    :host ::ng-deep .myAutoComplete .selected-office{ 
        font-weight: bold;
      }
      
      :host ::ng-deep .myAutoComplete .p-autocomplete-dropdown {
        background-color: #19255A; /* Color de fondo del botón */
        border: 1px solid #19255A; /* Borde del botón */
        border-radius: 4px; /* Radio de borde del botón */
        padding: 5px; /* Relleno del botón */
        color: #ffffff; /* Color del texto del botón */
      }
      
      :host ::ng-deep .myAutoComplete .p-autocomplete-dropdown-icon {
        font-size: 16px; /* Tamaño del ícono del botón */
        color: #666666; /* Color del ícono del botón */
      }