<section *ngIf="cargado && oficina!=null">
    <div class="container">
        <header class="mb-4">
            <div class="d-flex align-items-start justify-content-between">
                <div>
                    <h1 class="mt-4">Información de la oficina: {{oficina.idOficina}}</h1>
                </div>
            </div>
        </header>

        <section class="mb-5">
            <div class="row">
                <div class="col-11">
                    <h5><strong>Dirección: </strong>{{oficina.direccion}}</h5>
                    <h5 *ngIf="oficina.codigoPostal !== null"><strong>Código postal: </strong>{{oficina.codigoPostal}}</h5>
                    <h5><strong>Localidad: </strong> {{oficina.localidad}}</h5>
                    <h5 *ngIf="oficina.provincia !== null"><strong>Provincia: </strong>{{oficina.provincia}}</h5>
                    <h5><strong>País: </strong> {{oficina.pais}}</h5>
                </div>
                <div class="col-1">
                    <div class="row">
                        <button class="btn btn-primary boton mb-3" (click)="volver()">Volver</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary boton mb-3" (click)="irOficinas()">Oficinas</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-secondary boton-editar " (click)="editar()">Editar</button>
                    </div>
                </div>   
            </div>
        </section>   
          
    </div>
</section>