<nav class="navbar-dark navbar sticky-top navbar-expand-sm">
    <div class="container-fluid">
        <!--Botón para menú hamburguesa para pantallas pequeñas-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li [ngClass]="seleccionado == 0 ? 'nav-item active' : 'nav-item'" (click)="cambiaSeleccionado(0)">
                    <a routerLink="" class="nav-link"> 
                        <img src="assets/images/Hiberus_Blanco.png" alt="Inicio" class="menu-imagen-hiberus"/>    
                    </a>
                </li>
                <li [ngClass]="seleccionado == 1 ? 'nav-item active' : 'nav-item'" (click)="cambiaSeleccionado(1)">
                    <a routerLink="/inventario" class="nav-link"> Inventario </a>
                </li>
                <li [ngClass]="seleccionado == 2 ? 'nav-item active' : 'nav-item'" (click)="cambiaSeleccionado(2)">
                    <a routerLink="/entradas" class="nav-link"> Entradas </a>
                </li>
                <li [ngClass]="seleccionado == 3 ? 'nav-item active' : 'nav-item'" (click)="cambiaSeleccionado(3)" >
                    <a routerLink="/salidas" class="nav-link"> Salidas </a>
                </li>    
                <li [ngClass]="seleccionado == 4 ? 'nav-item active' : 'nav-item'" (click)="cambiaSeleccionado(4)" >
                    <a routerLink="/avisos" class="nav-link"> 
                        <span>Avisos</span>
                        <span *ngIf="hayAvisos" class="badge">
                            <i class="fas fa-exclamation-circle icono-notificacion"></i>
                        </span>    
                    </a>
                </li>
                <li [ngClass]="seleccionado == 5 ? 'nav-item dropdown active' : 'nav-item dropdown'" 
                (mouseenter)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)" (click)="cambiaSeleccionado(5)">
                    <a class="nav-link dropdown-toggle" routerLink="/gestion" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestión
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="dropdownOpen ? 'show' : ''">
                        <li><a class="dropdown-item desp" routerLink="/gestion/articulos">Artículos</a></li>
                        <li><a class="dropdown-item desp" routerLink="/gestion/asignaciones">Asignaciones</a></li>
                        <li><a class="dropdown-item desp" routerLink="/gestion/empleados">Empleados</a></li>
                        <li><a class="dropdown-item desp" routerLink="/gestion/oficinas">Oficinas</a></li>
                        <li><a class="dropdown-item desp" routerLink="/gestion/proveedores">Proveedores</a></li>
                        <li><a class="dropdown-item desp" routerLink="/gestion/stockSeguridad">Stock de seguridad</a></li>
                        <li><a class="dropdown-item desp" routerLink="/gestion/unidades">Unidades</a></li>
                        
                      </ul>
                </li>        
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                <li *ngIf="!isLogged" [ngClass]="seleccionado == 6 ? 'nav-item active' : 'nav-item'" (click)="cambiaSeleccionado(6)">
                    <a routerLink="/login" class="nav-link"> Iniciar sesión </a>
                </li>
                <li *ngIf="isLogged" [ngClass]="seleccionado == 6 ? 'nav-item active' : 'nav-item'" (click)="cambiaSeleccionado(6)">
                    <a routerLink="/login" class="nav-link"> {{user?.nombre}} {{user?.apellidos}} </a>
                </li>
                
            </ul>
        </div>
    </div>    
</nav>
