<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h1 class="display-4">GESTIÓN</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="mt-5">
      <div class="row">
        <div class="col-md-3 text-center mb-4">
          <a routerLink="/gestion/articulos" class="text-decoration-none color">
            <i class="fas fa-boxes fa-3x"></i>
            <p class="fs-5">Artículos</p>
          </a>
        </div>
        <div class="col-md-3 text-center mb-4">
          <a routerLink="/gestion/asignaciones" class="text-decoration-none color">
            <i class="fas fa-clipboard fa-3x"></i>
            <p class="fs-5">Asignaciones</p>
          </a>
        </div>
        <div class="col-md-3 text-center mb-4">
          <a routerLink="/gestion/empleados" class="text-decoration-none color">
            <i class="fas fa-users fa-3x"></i>
            <p class="fs-5">Empleados</p>
          </a>
        </div>
        <div class="col-md-3 text-center mb-4">
          <a routerLink="/gestion/oficinas" class="text-decoration-none color">
            <i class="fas fa-building fa-3x"></i>
            <p class="fs-5">Oficinas</p>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center mb-4">
          <a routerLink="/gestion/proveedores" class="text-decoration-none color">
            <i class="fas fa-truck fa-3x"></i>
            <p class="fs-5">Proveedores</p>
          </a>
        </div>
        <div class="col-md-4 text-center mb-4">
          <a routerLink="/gestion/stockSeguridad" class="text-decoration-none color">
            <i class="fas fa-cubes fa-3x"></i>
            <p class="fs-5">Stock de Seguridad</p>
          </a>
        </div>
        <div class="col-md-4 text-center mb-4">
          <a routerLink="/gestion/unidades" class="text-decoration-none color">
            <i class="fas fa-balance-scale fa-3x"></i>
            <p class="fs-5">Unidades</p>
          </a>
        </div>
        
        
      </div>
    </section>
  </div>

</div>