.underline-link {
  text-decoration: underline;
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

/* Estilos para cambiar el color al pasar el ratón */
.underline-link:hover {
  color: #00CDE2; /* Cambia el color del texto al pasar el ratón */
}
.boton {
  background-color: #19255A;
  border-color: #19255A;
  color: white;
}

.boton-descarga {
  background-color: #19255A;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.boton-descarga:hover {
  background-color: #00CDE2;
}