<section *ngIf="cargado && filtrosCargados">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-5">
                    <h1 class="display-4">INVENTARIO</h1>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 text-start">
                <button class="btn btn-primary boton" (click)="toggleFiltros()">
                    {{ mostrarFiltros ? 'Ocultar Filtros' : 'Mostrar Filtros' }}
                </button>
            </div>
        </div>
        <!-- Filtros -->
        <div *ngIf="mostrarFiltros " class="container mb-3">
            <hr>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="filtroOficina">Oficina:</label>
                    <select class="form-control form-select" id="filtroOficina" [(ngModel)]="filtros.idOficina">
                        
                        <option *ngFor="let oficina of listOficinas" [value]="oficina.idOficina">{{oficina.direccion}}, {{oficina.localidad}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="filtroArticulo">Artículo:</label>
                    <select class="form-control form-select" id="filtroArticulo" [(ngModel)]="filtros.codArticulo">
                        
                        <option *ngFor="let art of listArticulos" [value]="art.codigoArticulo">{{art.descripcion}}</option>
                    </select>
                </div>
                <div class="col-md-2 form-group">
                    <label for="filtroMin">Stock mínimo:</label>
                    <input type="number" class="form-control" id="filtroMin" min="0" [(ngModel)]="filtros.stockMin">
                </div>
                <div class="col-md-2">
                    <label for="filtroMax">Stock máximo:</label>
                    <input type="number" class="form-control" id="filtroMax" min="0" [(ngModel)]="filtros.stockMax" >
                </div>
            </div>
            <div class="row mb-3">
                
                <div class="col-md-6 text-start ">
                    <button class="btn btn-danger mt-3" (click)="limpiarFiltros()">Limpiar filtros</button>
                </div>
    
                <div class="col-md-6 text-end ">
                    <button class="btn btn-success mt-3" (click)="aplicarFiltros()">Aplicar filtros</button>
                </div>
            </div>
            <hr>
        </div>
        <!--Fin filtros-->
        <div class="row mt-4">
            <div class="col col-md-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Número elementos por página</span>
                    </div>
                    <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                        [(ngModel)]="tamPag" id="tamPagina">
                        <option *ngFor="let opcion of Multiplos5(8)" [value]="opcion">{{ opcion }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="w-25 text-center">Oficina</th>
                        <th scope="col" class="w-50 text-center">Artículo</th>
                        <th scope="col" class="w-25 text-center">Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inventario of inventarios">
                        <td data-bs-toggle="modal" [attr.data-bs-target]="'#modalDetalles' + inventario.idOficina">
                            <span class="underline-link">{{ inventario.oficina.localidad }}</span>
                            
                                <!--detalles de una oficina-->
                                <!-- Modal -->
                                <div class="modal fade" [id]="'modalDetalles' + inventario.idOficina" tabindex="-1"
                                    aria-labelledby="modalDetallesLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalDetallesLabel">Detalles de la oficina de {{ inventario.oficina.localidad }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                
                                                <p class="card-text">Dirección: {{ inventario.oficina.direccion }}</p>
                                                <p class="card-text">Localidad: {{ inventario.oficina.localidad }}</p>
                                                <p class="card-text">Provincia: {{ inventario.oficina.provincia }}</p>
                                                <p class="card-text">País: {{ inventario.oficina.pais }}</p>
                                                <p class="card-text">Código postal: {{ inventario.oficina.codigoPostal }}</p>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Hasta aquí detalles de oficina con su modal-->
                            
                        </td>
                        <td>{{ inventario.articulo.descripcion }}</td>
                        <td class="text-center">{{ inventario.stock }}</td>

                        

                    </tr>
                </tbody>
            </table>

        </div>
        <div class="row">
            <div class="col text-left">
                <p>Total de elementos: {{ numeroInventarios }}</p>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <button class="btn btn-primary" style="background-color: #19255A;" (click)="verHistorial()">Ver Historial</button>
            </div>
        </div>
        <app-paginador [numeroElementos]="numeroInventarios" [tamPag]="tamPag"
            (pagina)="cargarPagina($event)"></app-paginador>
        
    </div>
</section>