<section *ngIf="cargado">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-5">
                    <h1 class="display-4">STOCK DE SEGURIDAD</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Número elementos por página</span>
                    </div>
                    <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                        [(ngModel)]="tamPag" id="tamPagina">
                        <option *ngFor="let opcion of Multiplos5(8)" [value]="opcion">{{ opcion }}</option>
                    </select>
                </div>
            </div>
        </div>
        
        <section class="mt-2">
            <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Oficina</th>
                                    <th scope="col">Categoría</th>
                                    <th scope="col">Subcategoría</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Plazo de entrega medio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ss of stockSeguridad">
                                    <td>{{ss.oficina.direccion}}, {{ss.oficina.localidad}}</td>
                                    <td>{{ss.codCategoria}}</td>
                                    <td>{{ss.codSubcategoria}}</td>
                                    <td>{{ss.cantidad}} uds</td>
                                    <td>{{ss.plazoEntregaMedio}} días</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </section>
        <div class="row">
            <div class="col text-left">
                <p>Total de salidas: {{ numeroSS }}</p>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <button class="btn btn-primary boton" (click)="editarStockSeguridad()">Editar Stock de Seguridad</button>
            </div>
        </div>
        <app-paginador [numeroElementos]="numeroSS" [tamPag]="tamPag"
        (pagina)="cargarPagina($event)"></app-paginador>
        
    </div>
</section>