<section *ngIf="cargado">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-5">
                    <h1 class="display-4">SALIDAS</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Número elementos por página</span>
                    </div>
                    <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                        [(ngModel)]="tamPag" id="tamPagina">
                        <option *ngFor="let opcion of Multiplos5(8)" [value]="opcion">{{ opcion }}</option>
                    </select>
                </div>
            </div>
        </div>
        <section class="mt-2">
            <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nº Salida</th>
                                    <th scope="col">Artículo</th>
                                    <th scope="col">Nº Unidades</th>
                                    <th scope="col">Coste Unitario</th>
                                    <th scope="col">Coste Total</th>
                                    <th scope="col">Fecha Salida</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let salida of salidas">
                                    <td class="underline-link" (click)="detalleSalida(salida.idSalida)">Salida {{salida.idSalida}}</td>
                                    <td>{{salida.articulo.descripcion}}</td>
                                    <td>{{salida.numUnidades}}</td>
                                    <td>{{salida.costeUnitario.toFixed(2)}} €</td>
                                    <td>{{salida.costeTotal.toFixed(2)}} €</td>
                                    <td>{{salida.fechaSalida}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </section>
        <div class="row">
            <div class="col text-left">
                <p>Total de salidas: {{ numeroSalidas }}</p>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <button class="btn btn-primary boton" (click)="crearNuevaSalida()">Nueva Salida</button>
            </div>
        </div>
        <app-paginador [numeroElementos]="numeroSalidas" [tamPag]="tamPag"
        (pagina)="cargarPagina($event)"></app-paginador>
            
    </div>
</section>