<section *ngIf="cargado && filtrosCargados">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-5">
                    <h1 class="display-4">SALIDAS</h1>
                </div>
            </div>
        </div>
        <!-- Botón para mostrar/ocultar filtros -->
        <div class="row mb-3">
            <div class="col-md-6 text-start">
                <button class="btn boton" (click)="toggleFiltros()">
                    {{ mostrarFiltros ? 'Ocultar Filtros' : 'Mostrar Filtros' }}
                </button>
            </div>
            <div class="col-md-6 text-end">
                <button class="btn btn-success" (click)="crearNuevaSalida()">Nueva Salida</button>
            </div>
        </div>

        <!-- Filtros -->
        <div *ngIf="mostrarFiltros " class="container mb-3">
            <hr>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="filtroOficina">Oficina:</label>
                    <p-autoComplete styleClass="myAutoComplete w-100"
                            (onSelect)="onSelectOficina($event)" 
                            (onClear)="onClearOficina()"
                            (onBlur)="checkIfValidInputOficina($event)"
                            [suggestions]="filteredOficina" 
                            (completeMethod)="filterOficina($event)" 
                            field="fullDescriptionOficina"
                            [dropdown]="true" 
                            inputStyleClass="selected-office"
                            class="selected-office"
                            id="filtroOficina"
                            placeholder="{{ selectedOficina ? getFullDescriptionOficina(selectedOficina): '' }}">
                        <ng-template let-oficina pTemplate="item">
                            {{oficina.direccion}}, {{oficina.localidad}}
                        </ng-template>
                    </p-autoComplete>
                </div>
                <div class="col-md-5">
                    <label for="filtroArticulos">Artículo:</label>
                    <p-autoComplete styleClass="myAutoComplete w-100"
                            (onSelect)="onSelectArticulo($event)" 
                            (onClear)="onClearArticulo()"
                            (onBlur)="checkIfValidInputArticulo($event)"
                            [suggestions]="filteredArticulo" 
                            (completeMethod)="filterArticulo($event)" 
                            field="fullDescriptionArticulo"
                            [dropdown]="true" 
                            inputStyleClass="selected-office"
                            class="selected-office"
                            id="filtroArticulo"
                            placeholder="{{ selectedArticulo ? getFullDescriptionArticulo(selectedArticulo): '' }}">
                        <ng-template let-articulo pTemplate="item">
                            {{articulo.referencia}}: {{articulo.descripcion}}, {{articulo.precioUnitario}}€
                        </ng-template>
                    </p-autoComplete>
                </div>
                <div class="col-md-3">
                    <label for="filtroFecha">Fecha:</label>
                    <input type="date" class="form-control" id="filtroFecha"  [(ngModel)]="filtros.fechaSalida" >
                </div>
                
            </div>
            <div class="row mb-3">
                <div class="col form-group">
                    <label for="filtroCosteTotMin">Coste total min:</label>
                    <input type="number" class="form-control" id="filtroCosteTotMin" min="0" [(ngModel)]="filtros.costeTotalMin">
                </div>
                <div class="col">
                    <label for="filtroCosteTotMax">Coste total max:</label>
                    <input type="number" class="form-control" id="filtroCosteTotMax" min="0" [(ngModel)]="filtros.costeTotalMax" >
                </div>
                <div class="col form-group">
                    <label for="filtroUnitarioMin">Coste unitario min:</label>
                    <input type="number" class="form-control" id="filtroUnitarioMin" min="0" [(ngModel)]="filtros.costeUnitarioMin">
                </div>
                <div class="col">
                    <label for="filtroUnitarioMax">Coste unitario max:</label>
                    <input type="number" class="form-control" id="filtroUnitarioMax" min="0" [(ngModel)]="filtros.costeUnitarioMax" >
                </div>
                <div class="col form-group">
                    <label for="filtroNumUds">Número de unidades:</label>
                    <input type="number" class="form-control" id="filtroNumUds" min="0" [(ngModel)]="filtros.numeroUnidades">
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-3 form-group">
                    <label for="filtrofechaInicioIntervalo">Fecha inicio intervalo:</label>
                    <input type="date" class="form-control" id="filtrofechaInicioIntervalo" [(ngModel)]="filtros.fechaInicioIntervalo">
                </div>
                <div class="col-md-3 form-group">
                    <label for="filtrofechaFinIntervalo">Fecha fin intervalo:</label>
                    <input type="date" class="form-control" id="filtrofechaFinIntervalo" [(ngModel)]="filtros.fechaFinIntervalo">
                </div>
                <div class="col-md-3 text-end ">
                    <button class="btn btn-danger mt-3" (click)="limpiarFiltros()">Limpiar filtros</button>
                </div>
    
                <div class="col-md-3 text-end ">
                    <button class="btn btn-success mt-3" (click)="aplicarFiltros()">Aplicar filtros</button>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div *ngIf="numeroSalidas>0" class="col col-md-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Número elementos por página</span>
                    </div>
                    <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                        [(ngModel)]="tamPag" id="tamPagina">
                        <option *ngFor="let opcion of Multiplos5(8)" [value]="opcion">{{ opcion }}</option>
                    </select>
                </div>
            </div>
            <div class="col col-3">
                <button *ngIf="numeroSalidas>0" class="btn boton-descarga" (click)="descargarExcel()">Descargar en Excel</button>
            </div>

            <div class="col col-5">
                <div id="liveAlert"></div>
            </div>

            <div *ngIf="descargando" class="overlay">
                <div class="spinner"></div>
            </div>

        </div>
        <section *ngIf="numeroSalidas>0" class="mt-2">
            <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">Nº Salida</th>
                                    <th class="text-center" scope="col">Fecha Salida</th>
                                    <th class="text-center" scope="col">Artículo</th>
                                    <th class="text-center" scope="col">Nº Unidades</th>
                                    <th class="text-center" scope="col">Coste Unitario</th>
                                    <th class="text-center" scope="col">Coste Total</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let salida of salidas">
                                    <td class="underline-link" (click)="detalleSalida(salida.idSalida)">Salida {{salida.idSalida}}</td>
                                    <td>{{salida.fechaSalida | date: 'dd/MM/yyyy'  }}</td>
                                    <td>{{salida.articulo.referencia}}: {{salida.articulo.descripcion}}</td>
                                    <td>{{salida.numUnidades}}</td>
                                    <td>{{salida.costeUnitario.toFixed(2)}} €</td>
                                    <td>{{salida.costeTotal.toFixed(2)}} €</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </section>
        <section *ngIf="numeroSalidas<=0" class="mt-2 mb-3">
            No se ha encontrado ninguna salida coincidente con los filtros establecidos
        </section>
        <div *ngIf="numeroSalidas>0" class="row">
            <div class="col text-left">
                <p>Total de salidas: {{ numeroSalidas }}</p>
            </div>
        </div>
        <app-paginador [numeroElementos]="numeroSalidas" [tamPag]="tamPag"
        (pagina)="cargarPagina($event)"></app-paginador>
            
    </div>
</section>