<section class="login-section">
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center ">
      <p-messages class="mb-14" [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="login-card">
          <h2 class="login-heading">Iniciar Sesión</h2>
          <div class="form-grid">
              <label for="username">Usuario:</label>
              <input type="text" id="username" [(ngModel)]="user" pInputText class="w-full custom-input" (keyup.enter)="login()">
            
              <label for="password">Contraseña:</label>
              <p-password [(ngModel)]="pass" [toggleMask]="true" [feedback]="false"
                styleClass="w-full custom-input" (keyup.enter)="login()"></p-password>

          </div>
          <button type="submit" class="btn btn-lg btn-primary mt-3" (click)="login()">Acceder</button>
        </div>
      </div>
    </div>
  </div>
</section>