.boton {
    background-color: #19255A;
    border-color: #19255A;
    color: white;
}
.underline-link {
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
  }
  
  /* Estilos para cambiar el color al pasar el ratón */
  .underline-link:hover {
    color: #00CDE2; /* Cambia el color del texto al pasar el ratón */
  }