.custom-pagination {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.custom-pagination .page-link {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ced4da;
    user-select: none; /* Esto evitará que el texto pueda ser seleccionado */
    cursor: pointer; 
}

.custom-pagination .page-link:hover {
    background-color: #e9ecef;
    color: #000000;
    border-color: #b1bbc4;
}

.custom-pagination .page-item.selected .page-link {
    background-color: #19255A;
    color: #ffffff;
    border-color: #19255A;
}

.custom-pagination .page-item:hover {
    cursor: pointer;
}

.custom-pagination .flecha {
    background-color: #d6d8db; /* Fondo gris */
}

.custom-pagination .flecha:hover {
    background-color: #e9ecef; /* Cambio al pasar el ratón */
    color: #000000;
}

