<nav *ngIf="numeroElementos > tamPag" class="p-3">
    <ul class="pagination justify-content-center custom-pagination">
        <li *ngIf="pagActual > 0" class="page-item">
            <a class="page-link" (click)="irAnterior()">&lt;</a>
            
        </li>
        <li *ngFor="let pag of aux; index as i" class="page-item" [class.selected]="i === pagActual">
            <a class="page-link" (click)="cambiarPagina(i)" >{{i+1}}</a>
            
        </li>
        <li *ngIf="pagActual < (numPagTotales-1)" class="page-item">
            <a class="page-link" (click)="irSiguiente()">&gt;</a>
            
        </li>
    </ul>
</nav>
