.custom-pagination {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 10px;
}

.custom-pagination .page-link {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ced4da;
}

.custom-pagination .page-link:hover {
    background-color: #e9ecef;
    color: #000000;
    border-color: #b1bbc4;
}

.custom-pagination .page-item.selected .page-link {
    background-color: #19255A;
    color: #ffffff;
    border-color: #19255A;
}