<section *ngIf="cargado && filtrosCargados">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-5">
                    <h1 class="display-4">ARTÍCULOS</h1>
                </div>
            </div>
        </div>
        <!-- Botón para mostrar/ocultar filtros -->
        <div class="row mb-3">
            <div class="col-md-6 text-start">
                <button class="btn btn-primary boton" (click)="toggleFiltros()">
                    {{ mostrarFiltros ? 'Ocultar Filtros' : 'Mostrar Filtros' }}
                </button>
            </div>
            <div class="col-md-6 text-end">
                <button class="btn btn-success" (click)="crearNuevoArticulo()">Nuevo Artícuo</button>
            </div>
        </div>

        <!-- Filtros -->
        <div *ngIf="mostrarFiltros " class="container mb-3">
            <hr>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="filtroDescripcion">Descripción:</label>
                    <input type="text" class="form-control" id="filtroDescripcion" [(ngModel)]="filtros.descripcion">
                </div>
                <div class="col-md-3 form-group">
                    <label for="filtroReferencia">Referencia</label>
                    <input type="text" class="form-control" id="filtroReferencia" [(ngModel)]="filtros.referencia">
                </div>
                <div class="col-md-2">
                    <label for="filtroCategoria">Categoria:</label>
                    <select class="form-control form-select" id="filtroCategoria" [(ngModel)]="filtros.codigoCategoria">
                        <option *ngFor="let cat of listCategorias" [value]="cat.codigoCategoria">{{cat.codigoCategoria}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="filtroSubcategoria">Subcategoría:</label>
                    <select class="form-control form-select" id="filtroSubcategoria" [(ngModel)]="filtros.codigoSubcatogria">
                        <option *ngFor="let sub of listSubcategorias" [value]="sub.codigoSubcategoria">{{sub.codigoSubcategoria}}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 form-group">
                    <label for="filtroprecioUnitarioMin">Precio unirtario min (€):</label>
                    <input type="number" class="form-control" id="filtroprecioUnitarioMin" min="0" [(ngModel)]="filtros.precioUnitarioMin">
                </div>
                <div class="col-md-3">
                    <label for="filtroprecioUnitarioMax">Precio unitario max (€):</label>
                    <input type="number" class="form-control" id="filtroprecioUnitarioMax" min="0" [(ngModel)]="filtros.precioUnitarioMax" >
                </div>
                <div class="col-md-3 form-group">
                    <label for="filtroIvaMin">IVA min (%):</label>
                    <input type="number" class="form-control" id="filtroIvaMin" min="0" [(ngModel)]="filtros.ivaMin">
                </div>
                <div class="col-md-3">
                    <label for="filtroIvaMax">IVA max (%):</label>
                    <input type="number" class="form-control" id="filtroIvaMax" min="0" [(ngModel)]="filtros.ivaMax" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="filtroFabricante">Fabricante:</label>
                    <input type="text" class="form-control" id="filtroFabricante" [(ngModel)]="filtros.fabricante">
                </div>
                <div class="col-md-3">
                    <label for="filtroModelo">Modelo:</label>
                    <input type="text" class="form-control" id="filtroModelo" [(ngModel)]="filtros.modelo">
                </div>
                <div class="col-md-3  text-center">
                    <button class="btn btn-danger mt-3" (click)="limpiarFiltros()">Limpiar filtros</button>
                </div>
                <div class="col-md-3 text-end ">
                    <button class="btn btn-success mt-3" (click)="aplicarFiltros()">Aplicar filtros</button>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div *ngIf="numeroArticulos>0" class="col col-md-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Número elementos por página</span>
                    </div>
                    <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                        [(ngModel)]="tamPag" id="tamPagina">
                        <option *ngFor="let opcion of Multiplos5(8)" [value]="opcion">{{ opcion }}</option>
                    </select>
                </div>
            </div>
        </div>
        <section *ngIf="numeroArticulos>0" class="mt-2">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center" scope="col">Referencia</th>
                                <th class="text-center" scope="col">Descripción</th>
                                <th class="text-center" scope="col">Precio</th>
                                <th class="text-center" scope="col">Categoría</th>
                                <th class="text-center" scope="col">Subcategoría</th>
                                <th class="text-center" scope="col">IVA</th>
                                <th class="text-center" scope="col">Fabricante</th>
                                <th class="text-center" scope="col">Modelo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let articulo of articulos">
                                <td class="text-center underline-link" (click)="detalleArticulo(articulo.codigoArticulo)">{{articulo.referencia}}</td>
                                <td>{{articulo.descripcion}}</td>
                                <td class="text-center">{{articulo.precioUnitario.toFixed(2)}} €</td>
                                <td class="text-center">{{articulo.codCategoria}}</td>
                                <td class="text-center">{{articulo.codSubcategoria}}</td>
                                <td class="text-center">{{articulo.iva.toFixed(2)}} %</td>
                                <td class="text-center">{{articulo.fabricante}}</td>
                                <td class="text-center">{{articulo.modelo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            
            </div>
        </section>
        <section *ngIf="numeroArticulos<=0" class="mt-2 mb-3">
            No se ha encontrado ningún artículo coincidente con los filtros establecidos
        </section>
        <div *ngIf="numeroArticulos>0" class="row">
            <div class="col text-left">
                <p>Total de artículos: {{ numeroArticulos }}</p>
            </div>
        </div>
        <app-paginador [numeroElementos]="numeroArticulos" [tamPag]="tamPag"
        (pagina)="cargarPagina($event)"></app-paginador>
        
        <br>
    </div>
</section>