<section *ngIf="cargado">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-5">
                    <h1 class="display-4">PROVEEDORES</h1>
                </div>
            </div>
        </div>
        <!-- Botón para mostrar/ocultar filtros -->
        <div class="row mb-3">
            <div class="col-md-6 text-start">
                <button class="btn boton" (click)="toggleFiltros()">
                    {{ mostrarFiltros ? 'Ocultar Filtros' : 'Mostrar Filtros' }}
                </button>
            </div>
            <div class="col-md-6 text-end">
                <button class="btn btn-success" (click)="crearNuevoProveedor()">Nuevo proveedor</button>
            </div>
        </div>

        <!-- Filtros -->
        <div *ngIf="mostrarFiltros " class="container mb-3">
            <hr>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="filtroCif">CIF:</label>
                    <input type="text" class="form-control" id="filtroCif"  [(ngModel)]="filtros.cif" >
                </div>
                <div class="col-md-3">
                    <label for="filtroRazon">Razón social:</label>
                    <input type="text" class="form-control" id="filtroRazon"  [(ngModel)]="filtros.razonSocial" >
                </div>
                <div class="col-md-3">
                    <label for="filtroTele">Teléfono:</label>
                    <input type="text" class="form-control" id="filtroTele"  [(ngModel)]="filtros.telefono" >
                </div>
                <div class="col-md-3">
                    <label for="filtroEmail">Email:</label>
                    <input type="text" class="form-control" id="filtroEmail"  [(ngModel)]="filtros.email" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="filtroDireccion">Dirección:</label>
                    <input type="text" class="form-control" id="filtroDireccion"  [(ngModel)]="filtros.direccion" >
                </div>
                <div class="col-md-4">
                    <label for="filtroLocalidad">Localidad:</label>
                    <input type="text" class="form-control" id="filtroLocalidad"  [(ngModel)]="filtros.localidad" >
                </div>
                <div class="col-md-3 form-group">
                    <label for="filtroCodigoPostal">Codigo postal:</label>
                    <input type="number" class="form-control" id="filtroCosteTotMin" min="0" [(ngModel)]="filtros.codigoPostal">
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-6 text-start ">
                    <button class="btn btn-danger mt-3" (click)="limpiarFiltros()">Limpiar filtros</button>
                </div>
    
                <div class="col-md-6 text-end ">
                    <button class="btn btn-success mt-3" (click)="aplicarFiltros()">Aplicar filtros</button>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col col-md-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Número elementos por página</span>
                    </div>
                    <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                        [(ngModel)]="tamPag" id="tamPagina">
                        <option *ngFor="let opcion of Multiplos5(8)" [value]="opcion">{{ opcion }}</option>
                    </select>
                </div>
            </div>
        </div>
        <section class="mt-2">
            <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">CIF</th>
                                    <th class="text-center" scope="col">Razón social</th>
                                    <th class="text-center" scope="col">Dirección</th>
                                    <th class="text-center" scope="col">Código Postal</th>
                                    <th class="text-center" scope="col">Localidad</th>
                                    <th class="text-center" scope="col">Teléfono</th>
                                    <th class="text-center" scope="col">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prove of proveedores">
                                    <td class="underline-link" (click)="detalleProveedor(prove.idProveedor)">{{prove.cif}}</td>
                                    <td>{{prove.razonSocial}}</td>
                                    <td>{{prove.direccion}}</td>
                                    <td *ngIf="prove.codigoPostal!==null">{{prove.codigoPostal}}</td>
                                    <td *ngIf="prove.codigoPostal===null">-</td>
                                    <td>{{prove.localidad}}</td>
                                    <td>{{prove.telefono}}</td>
                                    <td>{{prove.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </section>
        <div class="row">
            <div class="col text-left">
                <p>Total de proveedores: {{ numeroProveedores }}</p>
            </div>
        </div>
        <app-paginador [numeroElementos]="numeroProveedores" [tamPag]="tamPag"
        (pagina)="cargarPagina($event)"></app-paginador>
            
    </div>
</section>
